@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        max-width: 900px;
        margin: auto;
    }

    .imagen {
        height: 100%;
        width: 100%;
        object-fit: cover; /* This ensures the image covers the entire area without distortion */
    }
</style>

<div class="container mt-4">
    <div class="card mb-3 border border-end-0 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/CEVA.jpg" class="img-fluid rounded-start imagen" alt="CEVA Logistics">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">CEVA LOGISTICS</h3>
                    <p class="card-text">
                        Son un referente mundial indiscutible en el sector de la logística. Como columna vertebral del comercio mundial, la logística juega un papel vital en todos los aspectos de nuestra vida cotidiana.
                    </p>
                    <p>
                        Con todo esto en mente, nuestra ambición es hacer de CEVA Logistics el líder mundial de referencia indiscutible en la industria de la logística.
                    </p>
                    <p>
                        Las necesidades y ambición estratégica de sus clientes se encuentran en el centro de todo lo que hacemos. En un mundo cada vez más impredecible, cambiante, complejo y paradójico, creamos valor para proporcionarle soluciones excepcionales de principio a fin de la cadena de suministro que satisfagan sus necesidades más complejas.
                    </p>
                    <p>
                        Ofrecen servicios a más de 120 países alrededor del mundo llegando a un total de 110,000 empleados y conteniendo más de 3 millones de almacenes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
