@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        max-width: 900px;
        margin: auto;
    }

    .imagen {
        height: 100%;
        width: 100%;
        object-fit: cover; /* This ensures the image covers the entire area without distortion */
    }
</style>

<div class="container mt-4">
    <div class="card mb-3 border border-end-0 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/perurail1.jpg" class="img-fluid rounded-start imagen" alt="Peru rail">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">PERU RAIL</h3>
                    <p class="card-text">
                        Peru Rail es una empresa ferroviaria peruana que ofrece servicios de transporte de pasajeros y 
                        carga a lo largo de diversas rutas icónicas en el país. Fundada en 1999, Peru Rail opera 
                        principalmente en la región sur de Perú, conectando importantes destinos turísticos como Cusco, 
                        Puno y Arequipa con la ciudadela de Machu Picchu y el lago Titicaca.
                    </p>
                    <p>
                        Los servicios de Peru Rail incluyen varios tipos de trenes para diferentes necesidades y preferencias. 
                        El tren Hiram Bingham es uno de los más lujosos, ofreciendo un servicio de primera clase que incluye 
                        comidas gourmet, bebidas, y entretenimiento a bordo, todo en un ambiente de lujo inspirado en los años 20.
                        
                    </p>
                    <p>
                        Además de sus servicios de lujo y turísticos, Peru Rail también opera trenes de carga que son esenciales 
                        para el transporte de mercancías en la región. Estos servicios son cruciales para las comunidades locales,
                        facilitando el comercio y el transporte de productos agrícolas y otros bienes.  
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
